*, *::before, *::after {
  box-sizing: border-box;
  /*font*/
}

body {
  margin: 0;
}

.background {
  background-image: url('./img/gradient-orangy-red.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*Smallest width screen commonly used 320px*/
/*document.documentElement.clientWidth*/
/*document.documentElement.clientHeight*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 67vh; /*890vh*/ /*600px*/
  width: 600px; /*1730vw*//*600px*/
  margin-bottom: 13vh;
  margin-top: 35px;
  border: 8px solid #080808;
  border-radius: 13px;
  padding: 10px;
  gap: 7px;
  background-color: #080808;
}

.display-container {
  grid-column: 1 / span 4;
  text-align: right;
  font-size: 50px;
  overflow-wrap: break-word;
  height: 100px;
  margin-bottom: -46px;
  padding-top: 7px;
  border: 1px solid #cbc9c8;
  border-radius: 4px;
  color: black;
  background-color: #fffae9;
  line-height: 1.22cm;
}

.grid-container button {
  font-size: 20px;
  border-radius: 12px;
  font-weight: 700;
}

.reset {
  background-color: #080808;
  color: #e6e4db;
}

.clear-entry {
  background-color: #f0e6c2;
}

.backspace {
  background-color: #f0e6c2;
}

.equals, .plus, .subtract, .multiply, .divide {
  background-color: #ffaa57;
}

.number, .period, .plus-minus {
  background-color: #cbc9c8;
}

@media screen and (min-height: 2160px) {
  div div div.grid-container button {
    font-size: 42px;
  }
  div div div div.display-container {
    font-size: 96px;
    height: 250px;
    line-height: normal;
    margin-bottom: -168px;
  }
}

@media screen and (min-height: 1825px) {
  body div.background div div div.display-container {
    height: 165px;
    margin-bottom: -165px;
    line-height: 1.9cm;
  }
}

@media screen and (min-height: 1680px) {
  body div div div div.display-container {
    margin-bottom: -145px;
  }
}

@media screen and (min-height: 1540px) {
  div div div div.display-container {
    margin-bottom: -130px;
  }
}

@media screen and (min-height: 1440px) {
  .grid-container {
    min-width: 38vw;
  }
  div div.grid-container button {
    font-size: 25px;
  }
  div div div.display-container {
    font-size: 50px;
    height: 145px;
    line-height: normal;
    margin-bottom: -100px;
  }
}

@media screen and (min-height: 1140px) {
  div div.display-container {
    margin-bottom: -86px;
  }
  div.grid-container button {
    font-size: 24px;
  }
}

@media screen and (min-height: 1040px) {
  div .display-container {
    margin-bottom: -76px;
  }
}

@media screen and (min-height: 940px) {
  .display-container {
    margin-bottom: -62px;
  }
}

@media screen and (max-height: 840px) {
  .display-container {
    margin-bottom: -30px;
  }
}

@media screen and (max-height: 730px) {
  .display-container {
    margin-bottom: -16px;
  }
}

@media screen and (max-height: 650px) {
  .grid-container {
    height: 436px;
  }
}

@media screen and (max-height: 620px) {
  .grid-container {
    min-width: 38vw;
  }
}

@media screen and (max-width: 540px) and (max-height:915px) {
  .grid-container {
    height: 100vh;
    margin: 0;
  }

  .display-container {
    margin-bottom: -100px;
  }
}

@media screen and (max-width: 540px) and (max-height:815px) {
  .display-container {
    margin-bottom: -84px;
  }
}

@media screen and (max-width: 540px) and (max-height:730px) {
  .display-container {
    margin-bottom: -65px;
  }
}

@media screen and (max-width: 540px) and (max-height:640px) {
  .display-container {
    margin-bottom: -48px;
  }
}

@media screen and (max-width: 540px) and (max-height:555px) {
  .display-container {
    margin-bottom: -32px;
  }
}

@media screen and (max-width: 540px) and (max-height:555px) {
  .display-container {
    margin-bottom: -32px;
  }
}

@media screen and (max-width: 540px) and (max-height:480px) {
  .display-container {
    margin-bottom: -18px;
  }
}

@media screen and (max-width: 540px) and (max-height:405px) {
  .display-container {
    margin-bottom: -5px;
  }
}

@media screen and (max-height: 540px) {
  .grid-container {
    margin-bottom: auto;
  }
}

@media screen and (max-height: 505px) {
  .grid-container {
    margin-bottom: auto;
    margin-top: auto;
  }
}

@media screen and (max-height: 435px) {
  .grid-container {
    height: 100vh;
  }
}

@media screen and (max-width: 396px) {
  .reset span {
    display: none;
  }
  .reset:after {
    content: 'AC';
  }
  .clear-entry span {
    display: none;
  }
  .clear-entry::after {
    content: 'CE';
  }
}

@media screen and (max-height: 374px) {
  .display-container {
    margin-bottom: -2px;
  }
  button {
    height: 39px;
  }
}

@media screen and (max-height: 346px) {
  .grid-container {
    border: 0;
    padding: 3px 10px;
    padding-bottom: 0px;
  }
  .display-container {
    margin-bottom: -4px;
    height: 91px;
    padding-top: 0px;
  }
  button {
    height: 39px;
  }
}

@media screen and (max-height: 319px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 3px;
  }
  .divide {
    grid-area: 2 / 4;
  }
  .multiply {
    grid-area: 3 / 4;
  }
  .subtract {
    grid-area: 4 / 4;
  }
  .plus {
    grid-area: 5 / 4;
  }
  .equals {
    grid-area: 5 / span 2;
  }
  .display-container {
    grid-column: 1 / span 6;
  }
  .number:nth-child(6) {
    grid-area: 2 / 1;
  }
  .number:nth-child(7) {
    grid-area: 2 / 2;
  }
  .number:nth-child(8) {
    grid-area: 2 / 3;
  }
  .number:nth-child(10) {
    grid-area: 3 / 1;
  }
  .number:nth-child(11) {
    grid-area: 3 / 2;
  }
  .number:nth-child(12) {
    grid-area: 3 / 3;
  }
  .number:nth-child(14) {
    grid-area: 4 / 1;
  }
  .number:nth-child(15) {
    grid-area: 4 / 2;
  }
  .number:nth-child(16) {
    grid-area: 4 / 3;
  }
  .number:nth-child(19) {
    grid-area: 5 / 2;
  }
  .period {
    grid-area: 5 / 3;
  }
  .plus-minus {
    grid-area: 5 / 1;
  }
  .reset {
    grid-column: 5 / span 2;
  }
  .clear-entry {
    grid-column: 5 / span 2;
  }
  .backspace {
    grid-column: 5 / span 2
  }
}